/*This file applies to all pages that uses the class .glue-page-header__background-color*/
.glue-page-header__background-color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #010101;
  background-image: linear-gradient(to bottom, transparent, #00000);
